@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: Montserrat;
}

body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}

h2 {
    font-size: 20px;
    color: #282828;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.mainbox {
    width: 610px;
    margin: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: right;
}

.subtitle {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}

section {
    margin-bottom: 24px;
}

.aboutme_text {
    font-size: 10px;
    line-height: 16px;
}

.exper {
    font-size: 13x;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.float-wrap {
    overflow: hidden;
}

.detail {
    font-size: 9px;
}